@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

:root {
  --pry-color: #272a31;
  --sec-color: #ec5242;
  --tertiary-color: #d3d3d3;
  --pry-font: 'COCOGOOSE', sans-serif;
  --sec-font: 'Lato', sans-serif;
  --tertiary-font: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('images/mobile_bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.social {
  display: none;
}

.hide-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 4.4375rem;
  margin-bottom: 28px;
}

.logo {
  display: none;
}

.icon-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--pry-color);
  opacity: 1;
  width: 99.8%;
  height: 99.9%;
  overflow-y: hidden;
}

.fa-bars {
  font-weight: 700;
  font-size: 30px;
  line-height: 12px;
  margin-left: 1.5rem;
}

.js-nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding: 106px 0 0 28px;
  z-index: 100;
}

.close {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 51px;
  right: 45px;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  width: 12px;
  height: 12px;
}

.navis {
  display: none;
}

.title-section {
  padding: 24px;
}

.details {
  margin: 36px 0;
  color: var(--sec-color);
}

.quote-text {
  font-family: var(--sec-font);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 6px;
}

.title {
  font-family: var(--pry-font);
  font-weight: 700;
  font-size: 30px;
}

.abt-title {
  font-size: 26px;
}

.abt {
  text-align: center;
  font-family: var(--tertiary-font);
  font-size: 14px;
}

.email-contact {
  display: flex;
  justify-content: center;
}

.email-address {
  color: var(--pry-color);
  font-family: var(--tertiary-font);
  font-weight: 600;
}

.descriptions {
  border: 4px solid #fff;
  display: flex;
  padding: 16px;
  margin: 16px 0;
  background-color: var(--tertiary-color);
}

.description {
  font-family: var(--sec-font);
  font-weight: 400;
  line-height: 24px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 36px;
  margin-bottom: 48px;
  text-align: center;
  border-bottom: 2px solid var(--tertiary-color);
}

.logo-text {
  font-family: var(--tertiary-font);
  font-weight: 400;
  color: var(--pry-color);
  margin-bottom: 10px;
}

.bt-line {
  border-bottom: 2px solid var(--sec-color);
  width: 32px;
  margin-bottom: 16px;
}

.logo-description {
  color: var(--pry-color);
  font-family: var(--sec-font);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 36px;
}

.site-logo {
  width: 90%;
  border: 1px solid var(--tertiary-color);
}

.date {
  font-family: var(--tertiary-font);
  font-size: 30px;
  line-height: 42px;
  color: var(--pry-color);
  margin-bottom: 8px;
}

.location {
  font-family: var(--sec-font);
  font-weight: 600;
  margin-bottom: 35px;
}

.program-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pry-color);
  background-image: url('images/pattern_bg.png');
  padding: 32px 16px;
}

.program-title {
  color: var(--tertiary-color);
  font-family: var(--sec-font);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.bottom-line {
  border-bottom: 1px solid var(--sec-color);
  width: 50px;
  margin-bottom: 32px;
}

.programs {
  margin-bottom: 24px;
}

.prog {
  background-color: #3d4047;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}

.transparency {
  opacity: 2;
}

.prog-title {
  text-align: left;
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: var(--sec-color);
  margin-right: 30px;
}

.title-2 {
  margin-right: 10px;
}

.title-3 {
  margin: 0 20px;
}

.title-4 {
  margin-right: 5px;
}

.title-5 {
  margin-right: 48px;
}

.prog-details {
  color: var(--tertiary-color);
  font-family: var(--tertiary-font);
  font-weight: 400;
}

.join-bootcamp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  background-color: var(--sec-color);
  padding: 35px;
  margin-bottom: 12px;
}

.join {
  color: #fff;
  font-family: var(--sec-font);
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.all-progs {
  display: none;
}

.see-past-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.past-bootcamp {
  font-family: var(--sec-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.past-bootcamp-details {
  text-align: center;
  font-family: var(--sec-font);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
}

.abt-past {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.past-bootcamp-images,
.past-bootcamp-images2 {
  width: 100%;
  height: 40vh;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.past-bootcamp-images {
  background-image: url('images/workshop1.png');
}

.past-bootcamp-images2 {
  background-image: url('images/workshop2.png');
}

.past-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: initial;
  height: inherit;
  background-color: var(--sec-color);
  background-color: rgba(233, 173, 168, 0.6);
}

.year,
.abt-it {
  color: #fff;
  font-family: var(--tertiary-font);
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 8px;
}

.abt-it {
  font-size: 14px;
}

.speakers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 36px 16px;
}

.featured-speaker {
  font-family: var(--sec-font);
  font-weight: 600;
  font-size: 24px;
  word-spacing: 6px;
  margin-bottom: 12px;
}

.bold {
  border-bottom: 2px solid var(--sec-color);
}

.speakers-details {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  height: 65vh;
}

.speaker {
  display: grid;
  gap: 16px;
  grid-template-columns: 30% 1fr;
  margin-bottom: 38px;
}

.image1,
.image2 {
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.image3,
.image4,
.image5,
.image6 {
  display: none;
}

.sp-1-details,
.sp-2-details {
  margin-top: 3px;
}

.sp-3-details,
.sp-4-details,
.sp-5-details,
.sp-6-details {
  display: none;
}

.sp-name {
  font-family: var(--tertiary-font);
  font-weight: 600;
  line-height: 24px;
  color: var(--pry-color);
  margin-bottom: 8px;
}

.sp-details {
  font-family: var(--tertiary-font);
  font-style: oblique;
  font-size: 13px;
  line-height: 18px;
  color: var(--sec-color);
  margin-bottom: 8px;
}

.divider {
  width: 20px;
  border-bottom: 2px solid var(--tertiary-color);
  margin-bottom: 8px;
}

.footnote {
  font-family: var(--pry-font);
  font-weight: 300;
  color: gray;
  font-size: 10px;
}

.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #414246;
  padding-top: 24px;
}

.partner {
  margin-bottom: 8px;
  color: var(--tertiary-color);
  font-family: var(--sec-font);
  font-weight: 500;
  font-size: 22px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  width: 99.9%;
  padding-bottom: 14px;
}

.partners li {
  color: grey;
  font-family: var(--tertiary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.speaker-3,
.speaker-4,
.speaker-5,
.speaker-6 {
  display: none;
}

.more-speakers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 2px solid var(--tertiary-color);
}

.more {
  font-family: var(--tertiary-font);
  color: var(--pry-color);
  margin-right: 6px;
}

.entity {
  color: var(--sec-color);
  font-weight: 800;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.footer-logo {
  height: 50px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copyright {
  font-family: var(--tertiary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: grey;
}

/* Screen size greater than 768px */

@media only screen and (min-width: 769px) {
  body {
    background-image: url('images/desktop-background-img.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .header {
    background-color: #fff;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.375rem 12.5rem 0.375rem 0;
    background-color: #3e3e3e;
  }

  .social-media {
    margin-right: 8px;
  }

  .social-media i {
    color: #f3f3f3;
    margin-right: 8px;
    font-weight: 500;
    font-size: 14px;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .top-nav-link {
    font-family: var(--tertiary-font);
    font-weight: 500;
    font-size: 12px;
    color: #f3f3f3;
    text-decoration: none;
    margin-right: 12px;
  }

  .logo {
    display: flex;
    width: 4.2875rem;
    height: 4.2875rem;
    order: 1;
  }

  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .fa-bars {
    display: none !important;
  }

  #close_bar {
    display: none;
  }

  .js-nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
  }

  .navbars {
    width: 60%;
  }

  .navis {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    font-family: var(--tertiary-font);
    font-weight: 500;
    font-size: 12px;
    color: gray;
  }

  .abt-nav,
  .wt-nav {
    color: var(--sec-color);
  }

  .wt-nav {
    border: 3px solid var(--sec-color);
    padding: 10px;
  }

  .details {
    margin: 60px 0;
    width: 70%;
    color: var(--sec-color);
  }

  .quote-text {
    font-size: 36px;
  }

  .title-section {
    padding: 5.625rem;
  }

  .title {
    font-size: 40px;
  }

  .descriptions {
    width: 65%;
  }

  .programs {
    display: flex;
    margin-bottom: 34px;
  }

  .prog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .program-icon-img {
    width: 40px;
    height: 40px;
  }

  .program-icon-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .prog-title {
    text-align: center;
    font-size: 18px;
  }

  .title-1,
  .title-2,
  .title-3,
  .title-4,
  .title-5 {
    margin: 8px 0;
  }

  .prog-details {
    font-family: var(--sec-font);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }

  .all-progs {
    display: block;
    font-family: var(--sec-font);
    font-weight: 500;
    font-size: 15px;
    color: var(--tertiary-color);
  }

  .join-bootcamp {
    display: none;
  }

  .speakers-details {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 80%;
    margin: 0 auto;
    justify-content: center;
  }

  .speaker-3,
  .speaker-4,
  .speaker-5,
  .speaker-6 {
    display: flex;
  }

  .speaker {
    display: grid;
    gap: 16px;
    grid-template-columns: 40% 1fr;
    margin-bottom: 38px;
  }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6 {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
  }

  .person {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sp-1-details,
  .sp-2-details,
  .sp-3-details,
  .sp-4-details,
  .sp-5-details,
  .sp-6-details {
    display: block;
  }

  .sp-name {
    font-family: var(--tertiary-font);
    font-weight: 600;
    line-height: 24px;
    color: var(--pry-color);
    margin-bottom: 8px;
  }

  .sp-details {
    font-family: var(--tertiary-font);
    font-style: oblique;
    font-size: 13px;
    line-height: 18px;
    color: var(--sec-color);
    margin-bottom: 8px;
  }

  .divider {
    width: 20px;
    border-bottom: 2px solid var(--tertiary-color);
    margin-bottom: 8px;
  }

  .more-speakers {
    display: none;
  }

  .partners {
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    width: 95%;
    padding-bottom: 14px;
  }

  .footer {
    justify-content: center;
    background-color: #414246;
    height: 15vh;
  }

  .footer-logo {
    height: 6.25rem;
    margin-right: 20px;
  }

  .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .copyright {
    font-family: var(--tertiary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: grey;
  }

  .abt-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abt-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  .abt-details h1 {
    text-align: center;
  }

  .abt-dsc {
    width: 50%;
  }

  .abt-logo {
    width: 30%;
  }

  .abt-quote {
    display: none;
  }

  .abt-past {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 50%;
  }

  .abt-it {
    text-align: center;
  }

  .partner-section {
    display: none;
  }
}
